@import "colors";
@import "fonts";
@import "content";


html {
    font-family: $ff-body !important;
    font-size: 112.5%;
}



body, input, textarea, select, button {
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga", "kern";
}

body {
    font-family: $ff-body !important;
    font-size: 18px;
    line-height: 1.45;
    font-weight: 400;
    letter-spacing: normal;   
}

a {
    color: $primary-color;
}


/* ================ NAV config ================= */

.nav-container {
    
}
#main-nav.fixed {
    top: inherit;
}

.header.header > .navbar {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.11);   
}

.navbar.navbar-black, .navbar {
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
}
.navbar-inverse .navbar-nav ul.sub-menu {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0% !important;   
    right: 0;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.11);   
}

.navbar-inverse .navbar-nav ul.sub-menu li {
    float: right;
}

.navbar-inverse .navbar-nav ul.sub-menu li:hover > a, .navbar-inverse .navbar-nav ul.sub-menu li.link-focus > a {
    color: $primary-color;
}

.navbar-inverse .navbar-nav > li > a {
    color: $black;   
    font-weight: 500;
    font-size: 15px;
    font-family: $ff-body;
}




#site-navigation {
 /*   float: inherit; */
}

.navbar-black nav ul.nav {
    text-align: right;   
}

@media screen and (max-width: 767px){
    .dropdownmenu {
        background: url(images/menu-icon.png) center center no-repeat $primary-color;
    }
}

/* =============== HEADER INTRO BIG TEXT AREA ============= */
.header-content-wrap {
    background: rgba(0, 0, 0, 0.1);   
    padding: none;
}

.green-btn, .red-btn {
    border: 1px solid $primary-color !important;
}

.green-btn:hover, .red-btn:hover {
    background: $primary-color;
    border: 1px solid $primary-color !important;
}

.intro-text{
    font-family: $ff-big-title;
    text-transform:none;
    font-size: 65px;
    line-height: 95px;
    opacity: 0.9;
    padding-top: 50px;
}


/* =========== SECTION HEADERS  ================ */
.dark-text, .white-text, .black-text  {
    color: inherit;
    font-family: $ff-body;
    font-weight: 200;
}

/* ================  O QUE FAZEMOS ================= */
.focus-box .service-icon {
    border: none;   
}
.focus-box p {
    color: $black !important;
    font-family: $ff-body !important;
    font-size: 17px;
    text-align: left;
    padding-left: 10px;
}
.section-header h2:after {
    background: $primary-color;   
}

/* ==================== QUEM SOMOS ======================== */

.about-us p {
    color: $light-grey;
    font-size: 20px;
    line-height: 30px;
    font-family: $ff-body;
}

.team-member .position {
    padding-top: 7px;   
}
/* ===================== PRIMARY COLOR ==================== */
ul.nav > li.current_page_item > a:before {
	 background:$primary-color;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: $primary-color !important;
}

.navbar-toggle.active {
    background-color: $primary-color !important;
}

.team-member h5:before {
    background: $primary-color !important;
}

.team-member:hover .details {
    background: rgba(144, 154, 205, 0.8) none repeat scroll 0% 0% !important;
    color:$white;
    opacity: 1;
}

.team-member .social-icons ul li a:hover {
    color: $primary-color;
}

.focus-box .service-icon:hover {
    border: 10px solid $primary-color !important;
}

.focus-box .red-border-bottom:before, .works .red-border-bottom:before, .listpost-content-wrap .entry-title a:after {
    background: $primary-color !important;
}

.entry-title:before, .widget .widget-title:before {
	background: $primary-color;
}

.rb-site-title {
    color: $primary-color;
}
.rb-site-description {
    color: $primary-color;
}



/* ======================= FIQUE POR DENTRO ========================= */
.testimonial {
    background: rgba(144, 154, 205, 0.6) none repeat scroll 0% 0% !important;   
}

.our-team .row > div:nth-child(4n+1) .red-border-bottom::before {
    background: $primary-color none repeat scroll 0% 0%;
}

#client-feedbacks > ul {
    text-align: left;
}

#client-feedbacks > ul > li {
    line-height: 2;   
}

#client-feedbacks > ul > li > a {  
    color: $black;   
    font-size: 25px;
    font-weight: 300;
}

#client-feedbacks > ul > li > a:hover {  
    color: $white;   
}

.widgettitle {
    font-weight: 300;
    font-size: 40px;
    font-family: $ff-body;   
}

/* ======================== FOTTER =================================== */

.copyright {
    background: none;   
}